body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: auto;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    width: 100%;
    background: url('../components/assets/background.png') no-repeat center top fixed;
    background-size: auto;
}

.slogan-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
}
